In [2]:
import pandas as pd
import json
import seaborn as sns
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np

# All timing are in micro seconds (us)

In [4]:
df_mr = pd.read_csv("./results/gpu/matmul_gpu_a100_buono.csv")
df_mr.reset_index(inplace=True, drop = True)
df_mr = df_mr.groupby(['m']).mean().reset_index()
df_mr.to_csv("results/gpu/a100_bf16.csv", index=False)
df_mr

      m          run      tflops       power    powermon
0   512    20.181584   13.301369   93.519500   92.854167
1  1024    32.446591   66.221351  132.717333  142.136833
2  2048   128.530645  133.682592  193.936500  285.512714
3  4096   570.374608  240.981006  263.288333  441.987516
4  8192  3810.023729  288.584138  279.144167  473.293296

In [5]:
df_mr = pd.read_csv("./results/gpu/matmul_gpu_a100_new.csv")
df_mr.reset_index(inplace=True, drop = True)
df_mr = df_mr.groupby(['m']).mean().reset_index()
# df_mr.to_csv("results/gpu/a100_fp16_new.csv", index=False)
df_mr

      m          run      tflops      power    powermon
0   256    21.879625    1.534443   81.59750   82.272083
1   512    20.597517   13.033940   91.16875   91.154500
2  1024    35.797822   60.001565  119.95450  137.909545
3  2048   136.740732  125.638334  168.04050  304.663146
4  3072   303.874242  190.854445  252.39350  400.391049
5  4096   690.616536  199.030581  242.03525  390.247100
6  8192  4788.880694  229.597349  253.49650  396.615266

In [6]:
df_mr = pd.read_csv("./results/gpu/matmul_gpu_v100_new_1.csv")
df_mr.reset_index(inplace=True, drop = True)
df_mr = df_mr.groupby(['m']).mean().reset_index()
# df_mr.to_csv("results/gpu/v100_fp16_new.csv", index=False)
df_mr

      m           run     tflops       power    powermon
0   512     37.673426   7.130856   61.660333   66.096220
1  1024     57.064533  37.655504  114.214000  176.427245
2  2048    251.845471  68.229035  164.205667  241.446807
3  4096   1697.384191  80.972636  148.435667  244.815295
4  8192  12893.848332  85.274889  145.320333  246.161241

In [10]:
df_mr = pd.read_csv("./results/gpu/matmul_gpu_v100_buono.csv")
df_mr.reset_index(inplace=True, drop = True)
df_mr = df_mr.groupby(['m']).mean().reset_index()
df_mr.to_csv("results/gpu/v100_fp16.csv", index=False)
df_mr

      m           run     tflops       power    powermon
0   512     35.935227   7.478657   63.455833   68.798583
1  1024     54.485035  39.482925  129.649500  187.114889
2  2048    247.664007  69.372879  158.024333  240.312948
3  4096   1691.130654  81.272489  162.502167  244.564065
4  8192  12803.801107  85.873946  168.663833  245.518734

In [9]:
df_mr = pd.read_csv("./results/gpu/matmul_gpu_v100_new.csv")
df_mr.reset_index(inplace=True, drop = True)
df_mr = df_mr.groupby(['m']).mean().reset_index()
# df_mr.to_csv("results/gpu/v100_fp16_new.csv", index=False)
df_mr

      m           run     tflops       power    powermon
0   512     36.790510   7.303555   61.884750   68.017789
1  1024     56.406323  38.098590  118.983000  184.250981
2  2048    251.432176  68.340582  158.622750  242.008047
3  4096   1696.845794  80.998440  145.434333  244.873666
4  8192  12883.263377  85.345274  164.153167  246.344570